@use './variables' as *;

html,
body {
  background-color: $white-color;
  font-family:
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    SimSun,
    sans-serif;
}

.el-overlay {
  .el-dialog,
  .el-message-box {
    padding: 0 !important;
  }

  .el-dialog__header,
  .el-message-box__header {
    padding: 20px 20px 10px;
    border-bottom: $border1;
  }

  .el-dialog__headerbtn,
  .el-message-box__headerbtn {
    width: auto;
    height: auto;
    top: 20px;
    right: 20px;
  }

  .el-dialog__body,
  .el-message-box__content {
    padding: 30px 20px 0;
  }

  .el-dialog__footer,
  .el-message-box__btns {
    padding: 10px 20px 20px;
  }

  .el-overlay-dialog {
    text-align: center;

    &::after {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      width: 0;
    }

    .el-dialog {
      display: inline-block;
      margin: 0 !important;
      vertical-align: middle;
      text-align: left;

      .el-form {
        .el-form-item__label {
          cursor: pointer;
        }

        .el-select {
          width: 100%;
        }

        .el-input-number {
          width: 100%;

          .el-input__inner {
            text-align: left;
          }
        }
      }
    }
  }
}

.el-table__inner-wrapper::before {
  display: none;
}

.location-icon {
  cursor: pointer;
  font-size: 16px;
  color: #409eff;
  vertical-align: middle;
}

.input-picker {
  cursor: pointer;

  .el-input__inner {
    cursor: pointer;
    caret-color: transparent;
  }

  .el-input__suffix {
    cursor: pointer;
  }

  .el-input__suffix-inner > :first-child {
    margin-left: 0;
  }
}

.input-picker-suffix {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding-left: 8px;
  cursor: pointer;
}

.location-pick-icon {
  cursor: pointer;
  color: #409eff;
  &:hover {
    color: #66b1ff;
  }
}
